<div class="hero-unit">
<h2>このサイトについて</h2>
<p>このサイトはももいろクローバーZの情報を集めたアンテナサイトです。</p>

<h2>作成者について</h2>
<p>このサイトの作成者は<%= link_to "@sassy_watson", "https://twitter.com/sassy_watson" %>です。ご意見・ご感想があれば、<%= link_to "@sassy_watson", "https://twitter.com/sassy_watson" %>までご連絡ください。</p>
</div>
