<div class="hero-unit">
<h2>このサイトについて</h2>
<p>このサイトはももいろクローバーZの情報を集めたアンテナサイトです。</p>

<h2>作成者について</h2>
<p>このサイトの作成者は<a href="https://twitter.com/sassy_watson">@sassy_watson</a>です。ご意見・ご感想があれば、<a href="https://twitter.com/sassy_watson">@sassy_watson</a>までご連絡ください。</p>
</div>
